.message{data: {message: {id: message.id}}}
  .message__info
    .sender-name
      = message.user.name
    .send-date
      = message.created_at.to_s
  .message__text
    - if message.content.present?
      %p
        = message.content
    = image_tag message.image.url, class: 'message__image' if message.image.present?