.side-bar
  .side-bar__user-name
    .top-item
      .top-item__user-name hoge
      .top-item__icon
        = link_to "##" do
          = icon('fas', 'edit', class: "edit")
        = link_to "##" do
          = icon('fas', 'cog', class: "cog")
  .side-bar__chat-index
    .side-item
      .side-item__chat-title sample
      .side-item__newest-message no message
    .side-item
      .side-item__chat-title sample
      .side-item__newest-message no message
    .side-item
      .side-item__chat-title sample
      .side-item__newest-message no message
